body {
    margin: 0;
    overflow: hidden; /* Prevents scrollbars */
    user-select: none;
    background-color: black;
}

#Info {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: blue;
    font-family: Arial, sans-serif;
    cursor: pointer;
    z-index: 2;
}
